spring:
  application:
    name: film-explorer

  datasource:
    url: jdbc:postgresql://localhost:5432/filmexplorer
    username: postgres
    password: zougrom00
    driver-class-name: org.postgresql.Driver

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        format_sql: true

  security:
    jwt:
      secret-key: "3nT3rA-l0ng3r_s3cur3_k3y_!_w1th_32_chars_min"
      expiration: 86400000
      refresh-token:
        expiration: 604800000

server:
  port: 8080
  servlet:
    context-path: /

logging:
  level:
    root: INFO
    com.isfa.dsi.filmexplorer: DEBUG