spring:
  application:
    name: film-explorer

  datasource:
    url: ${DATABASE_URL}
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: 5
      connection-timeout: 20000

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: create
    show-sql: false
    properties:
      hibernate:
        format_sql: false

  security:
    jwt:
      secret-key: ${JWT_SECRET}
      expiration: 86400000
      refresh-token:
        expiration: 604800000

server:
  port: ${PORT:8080}
  address: 0.0.0.0
  servlet:
    context-path: /

logging:
  level:
    root: WARN
    com.isfa.dsi.filmexplorer: INFO