spring:
  application:
    name: film-explorer
  datasource:
    url: ${DATABASE_URL}  # REMOVED "jdbc:" prefix
    username: ${DATABASE_USERNAME}
    password: ${DATABASE_PASSWORD}
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: 5
      connection-timeout: 20000
  jpa:
    hibernate:
      ddl-auto: update  # CHANGED from "create" to "validate"
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: false

server:
  port: ${PORT:8080}
  address: 0.0.0.0
  servlet:
    context-path: /

logging:
  level:
    root: WARN
    com.isfa.dsi.filmexplorer: INFO

application:
  security:
    jwt:
      secret-key: ${JWT_SECRET:1606dd5935da7cc979d3fcb491d26c5ee69220138b39cf9eb80d509906aa418b}
      expiration: 86400000
      refresh-token:
        expiration: 604800000